@import "@/components/style.scss";
@import "~@feizheng/react-github-corner/dist/style.scss";
@import "~@feizheng/react-sw-update-tips/dist/style.scss";
@import "~@feizheng/react-demokit/dist/style.scss";

@import "~@feizheng/react-backdrop/dist/style.scss";
@import "~@feizheng/webkit-sassui-backdrop";

.app-container {
}

.button {
  background: #3cc51f;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  border: none;

  &:active {
    background: darken(#3cc51f, 10%);
  }

  &:focus {
    outline: none;
  }
}
.react-drawer {
  padding: 10px;
  width: 200px;
  background: #fff;
}
