$react-drawer-options: (
  z-index: (
    modal: 100,
    backdrop: 98
  )
) !default;

.react-drawer {
  $z-index: map-get( $map: $react-drawer-options, $key: z-index );
  $drawer-z-index: map-get( $map: $z-index, $key: drawer );
  $backdrop-z-index: map-get( $map: $z-index, $key: backdrop );

  z-index: $drawer-z-index;

  &,
  & + .webkit-sassui-backdrop{
    position: fixed;
    z-index: $drawer-z-index
  }
}
